<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
    <link href="D:\Abarna\HTML\view\pos" rel="Sheet.css">
</head>
<body>
<style>
.lin {
   display: inline;
   }
.li {
  display: block;
  border: 1px solid rgb(27, 76, 82);    
  background-color: rgb(166, 223, 233); 
}
.container{
  position: relative;
    }
img{
  float: top;
  position: static;
  z-index:4;
}
</style>
<div>
    <h1><center>DISPLAY</center></h1>
</div>
<div>
    <div class="lin"><h1>Inline</h1>
<ul>
  <li><a href="https://www.bing.com/search?filters=ufn%3a%22Telegram+(software)%22+sid%3a%22d6f23f86-5739-a688-4e15-c519cc203ca8%22&qs=MB&pq=telefg&sk=CSYN1&sc=15-6&pglt=2083&q=telegram&cvid=66e88c0cee014d969f4179bab550f18f&gs_lcrp=EgRlZGdlKgYIARAuGEAyBggAEEUYOTIGCAEQLhhAMgYIAhAAGEAyBggDEAAYQDIGCAQQABhAMgYIBRAAGEAyBggGEAAYQDIGCAcQABhAMgYICBBFGDrSAQgzMzE4ajBqMagCCLACAQ&FORM=ANNTA1&PC=U531" target="_blank">Instagram</a></li>
  <li><a href="https://www.bing.com/search?filters=ufn%3a%22Telegram+(software)%22+sid%3a%22d6f23f86-5739-a688-4e15-c519cc203ca8%22&qs=MB&pq=telefg&sk=CSYN1&sc=15-6&pglt=2083&q=telegram&cvid=66e88c0cee014d969f4179bab550f18f&gs_lcrp=EgRlZGdlKgYIARAuGEAyBggAEEUYOTIGCAEQLhhAMgYIAhAAGEAyBggDEAAYQDIGCAQQABhAMgYIBRAAGEAyBggGEAAYQDIGCAcQABhAMgYICBBFGDrSAQgzMzE4ajBqMagCCLACAQ&FORM=ANNTA1&PC=U531" target="_blank">Telegram</a></li>
  <li><a href="https://www.bing.com/search?q=snapchat&filters=ufn%3a%22Snapchat%22+sid%3a%22564159fa-3d5c-4e17-a29e-35b26ac7182c%22&asbe=SS&qs=MB&pq=snapc&sc=12-5&cvid=A9913E58179246E786E5AB77563D6D8D&FORM=QBRE&sp=1&ghc=1&lq=0" target="_blank">Snapchat</a></li>
</ul>
    </div><br><br>
    <div class="li"><h1>Block</h1>
       <p>HTML stands for <span style="color:aqua"> Hypertext Markup Language </span> CSS stands for <span style="color:blueviolet"> Casacading Stylish Sheet</span></span></p>
    </div><br><br>
    <h1>Postion View</h1>
  <div class="container"><br>
  <h2>Float Top</h2>
<p>
  <img src="D:\Abarna\HTML\View\n.jpg" alt="nature"><br><br>
  Lorem All the plants, animals, etc. in the universe and all the things that happen in it that are not made or caused by people.The qualities or character of a person or thing.the physical world and everything in it (such as plants, animals, mountains, oceans, stars, etc.) that is not made by people. the beauty of nature.as a result of inborn or inherent qualities; innately."Basic nature" refers to the fundamental, inherent characteristics or qualities of something, whether it be a person, a substance, or a situation. It's the core essence or the defining traits that make something what it is. </p><br><br><br>
<p>  
</body>
</html>








